<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hedaya.duyaehedaya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_hedaya"
        android:label="হেদায়া"
        android:roundIcon="@drawable/logo_hedaya"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuyaeHedaya">
        <activity
            android:name="com.hedaya.duyaehedaya.MessageActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.SokolDoyaDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.SokolDoyaActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.QuranDoyaDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.QuranDoyaActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.MonajatActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.SotoDoyaDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.SotoDoyaActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.TimeofDoyaActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.InstActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.IntroActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.hedaya.duyaehedaya.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>